@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{padding: 0;margin: 0;box-sizing: border-box;outline:none;font-family: 'Rubik', sans-serif;font-weight: 500;}
*::selection{background-color: grey;}#tocador{cursor: pointer;}
a{text-decoration: none !important;color: black;}
a:hover{color: rgb(70, 70, 70);}
.btn:focus, .btn:active:focus, .btn.active:focus{outline:none !important;box-shadow:none !important;}
.form-control:focus, .form-control:active:focus, .form-control.active:focus{outline:none !important;box-shadow:none !important;}

body{
  overflow-x: hidden !important;
  background-image: linear-gradient(to Top, rgb(200, 200, 200) 0%, white 100%);
}
#spinnerCenter{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  user-select: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  opacity: 1;
  transition: opacity 0.74s;
}
/* rest */
#wrapper{
  width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
  z-index: 1;
}
#mask{
  position: fixed;
  z-index: 100;
  border: 2px solid rgba(131, 131, 131, 0.397);
  right: 20px;
  bottom: 20px;
  border-radius:40px;
  border-style: none;
  height: 50px;
  width: 60px;
  background-color: rgb(40, 40, 40);
  border: 2px solid rgb(120, 120, 120);
  color: white;
  cursor: pointer;
}
nav{
  display: flex;
  position: fixed;
  width: 100vw;
  height: 50px;
  top: 0px;
  left: 0px;
  z-index: 10;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
}
nav a{
margin: auto 0px;
}
h2{
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
}
h3{
  font-size: 20px;
  padding-top: 20px;
}
p{
  text-align: center;
  font-style: italic;
  margin-bottom: 20px;
}
.Fbtn{
  font-size: 17px;
  font-style: normal;
  border-style: none;
  height: 40px;
  width: 68px;
  border-radius: 4px;
  background-color: rgb(40, 40, 40);
  color: white;
  cursor: pointer;
}
.Sbtn{
  font-size: 17px;
  font-style: normal;
  border-style: none;
  height: 40px;
  width: 80px;
  border-radius: 4px;
  background-color: rgb(130, 130, 130);
  color: white;
  cursor: pointer;
}
.btc{
  margin: auto;
  font-size: 17px;
  font-style: normal;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 600px;
  background-color: rgb(40, 40, 40);
  color: white;
  cursor: pointer;
  position: relative;
}
.btc img{
  position: absolute;
  top: 9px;
  left: 8px;
}
#productGrid{
  width: 80%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns:1fr;
  column-gap: 10px;
  row-gap: 20px;
  margin: 10px auto;
}
.productBox{
  margin: 2px 5px 2px 5px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  animation: width 2s, height 4s;
  padding: 10px;
  border: 2px solid transparent;
}
.productBox:hover {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.472);
  filter: drop-shadow(0px 0px 15px rgba(154, 154, 154, 0.9));
  border: 2px solid rgb(220, 220, 220);
} 
.productImage{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 154px;
  height: 154px;
  border-radius: 18px;
  -webkit-box-shadow: 7px 6px 15px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 7px 6px 15px 3px rgba(0,0,0,0.34);
  box-shadow: 7px 6px 15px 3px rgba(0,0,0,0.34);
}
.productTitle{
  font-size: 20px;
  margin-top: 10px !important;
  font-weight: 800;
  text-align: center;
  margin: 4px auto;
}
.productDescription{
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin: 4px auto;
}
.productPrice{
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 8px;
  font-style: normal;
}
#bitcoinPay{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-flow: row-reverse;
  column-gap: 10px;
  margin: 5px auto 10px auto;
  grid-column: 1/3;
}

/* NFT CONTENT INDEX */
#preAnashei{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 200;
  width: 100%;
  height: 5000px;
  margin: 0 auto;
  background-color: rgba(17, 17, 17, 0.726);
}
#anashei{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 80vh;
  margin: 0 auto !important;
  max-width: 900px;
  background-color: whitesmoke;
  position:fixed;
  left: 0px;
  right: 0px;
  top: 80px;
  z-index: 300;
  border: 2px solid rgb(175, 175, 175);
  border-radius: 30px;
  -webkit-box-shadow: 7px 6px 15px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 7px 6px 15px 3px rgba(0,0,0,0.34);
  box-shadow: 7px 6px 15px 3px rgba(0,0,0,0.34);
}
.productBoxNFT{
  grid-template-columns: 90% 10%;
  grid-template-rows: 8% 60% 12% 10% 10%;
  grid-auto-flow: column;
}
#cruz{
  height: 24px;
  grid-column: 2/3;
  grid-row: 1/2;
  cursor: pointer;
  background-color: whitesmoke;
  border-radius: 50%;
}
#nftTitle{
  font-size: 28px;
  margin: 20px auto 10px auto !important;
  grid-column: 1/3;
  grid-row: 1/2;
}
#nftPhoto{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
  grid-row: 2/3;
}
#nftDescription{
  font-size: 24px;
  margin: 2px;
  grid-column: 1/3;
  grid-row: 3/4;
}
#nftPrice{
  font-size: 28px;
  margin: 2px;
  grid-column: 1/3;
  grid-row: 4/5;
}
footer{
  z-index: 10;
  position: relative;
  display: flex;
  height: 400px;
  width: 100vw;
  justify-content: center;
  background-color: rgb(30, 30, 30);
  margin: 0 auto;
  align-content: flex-end;
  text-align: center;
  flex-direction: column;
  border-top: 20px solid rgba(45, 45, 45, 0.75);
}
#aSide{
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.74);
  height: 100%;
  width: 40px;
  position: fixed;
  top: 50px;
  left: 0px;
  transition: width 0.3s ;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 0px 12px rgba(124, 124, 124, 0.877));
  border-right: 1px solid rgba(170, 170, 170, 0.54);
}
#aSide:hover{
  width: 250px;
}
#aside-wrapper{
  height: 100%;
  z-index: -100;
}
#search-text{
  position: fixed;
  font-size: 30px;
  top: 0px;
  left: -150px;
  transition: left 0.3s ;
}
#search-input{
border-style: none;
border-radius: 5px;
border: 1px solid rgb(190, 190, 190);
position: fixed;
height: 30px;
width: 100%;
top: 54px;
left: -3px;
transition: left 0.3s;
padding-left: 10px;
}
#search-icon{
  position: fixed;
  z-index: 500;
  width: 26px;
  top: 56px;
  left: 5px;
  transition: left 0.3s;
  cursor: pointer;
  background-color: white;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: rgb(185, 185, 185) ;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(100, 100, 100);
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
  background-color:rgb(85, 85, 85) ;
}
/* Media Queris */
/* WIDHT */
/* Media Queris */

@media (min-width: 654px){
  #productGrid{
    grid-template-columns: 1fr 1fr;
  }
  #wrapperSc{
    width: 40vw;margin: 0 auto;
  }
  #nftPhoto{
    width: 340px !important;
    height: 340px !important;
  }
  #nftTitle{
    font-size: 30px;
    margin-top: 2px auto 2px auto!important;
  }
  #nftDescription{
    font-size: 26px;
    margin: 4px auto 2px!important;
  }
  #nftPrice{
    font-size: 36px;
    margin: 4px !important;
  }
  .productBoxNFT{
    grid-template-columns: 93% 7%;
  }
}
@media (min-width: 980px){
  #productGrid{
    grid-template-columns: 1fr 1fr 1fr;
  }
  #wrapperSc{
    width: 50vw;margin: 0 auto;
  }
  #anashei{
    top: 100px;
    width: 70vw;
    height: 70vw;
  }
  #nftPhoto{
    width: 380px !important;
    height: 380px !important;
  }
  #nftTitle{
    font-size: 40px;
    margin-top: 2px auto 2px auto;
  }
  #nftDescription{
    font-size: 34px;
    margin: -10px auto 2px !important;
  }
  #nftPrice{
    font-size: 40px;
    margin: 4px !important;
  }
  .productBoxNFT{
    grid-template-columns: 95% 5%;
    grid-template-rows: 10% 60% 10% 10% 10%;
    grid-auto-flow: column;
  }
  #cruz{
    height: 30px;
    grid-column: 2/3;
    grid-row: 1/2;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 50%;
  }
}
@media (min-width: 1250px){
  #productGrid{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  #wrapper{
    width: 85vw;
  }
  #anashei{
    bottom: 154px;
  }
  #nftPhoto{
    width: 400px !important;
    height: 400px !important;
  }
  #nftTitle{
    font-size: 30px;
    margin-top: 2px !important;
    margin-bottom: 6px !important;
  }
  #nftDescription{
    font-size: 26px;
    margin: 18px auto 2px!important;
  }
  #nftPrice{
    font-size: 36px;
    margin: 4px !important;
  }
  .productBoxNFT{
    grid-template-columns: 95% 5%;
    grid-template-rows: 10% 60% 10% 10% 10%;
    grid-auto-flow: column;
  }
  #cruz{
    height: 24px;
    grid-column: 2/3;
    grid-row: 1/2;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 50%;
  }

}

/* HEIGHT */

@media (min-height: 638px){
  #nftPhoto{
    width: 250px;
    height: 250px;
  }
}
@media (min-height: 800px){
  #nftPhoto{
    width: 280px;
    height: 280px;
  }
}



@media (max-width: 1920px){
  #anashei{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 80vh;
    margin: 0 auto !important;
    max-width: 900px;
    background-color: whitesmoke;
    position:fixed;
    left: 0px;
    right: 0px;
    top: 50px;
    z-index: 200;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 30px;
    -webkit-box-shadow: 7px 6px 15px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 7px 6px 15px 3px rgba(0,0,0,0.34);
    box-shadow: 7px 6px 15px 3px rgba(0,0,0,0.34);
  }
}
