@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{padding: 0;margin: 0;box-sizing: border-box;outline:none;font-family: 'Rubik', sans-serif;font-weight: 500;}
*::selection{background-color: grey;}html{scroll-behavior: smooth;}
a{text-decoration: none !important;color: black;}
a:hover{color: rgb(70, 70, 70);}

body{
  overflow-x: hidden !important;
  background-image: linear-gradient(to Top, rgb(200, 200, 200) 0%, white 100%);
}
#spinnerCenter{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  user-select: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  opacity: 1;
  transition: opacity 0.54s;
}
#wrapper{
  width: 80vw;
  min-height: 100vh;
  margin: 60px auto 10px auto;
  z-index: 1;
  transition: filter 0.4s;
}
nav{
  display: flex;
  position: fixed;
  width: 100vw;
  height: 50px;
  top: 0px;
  left: 0px;
  z-index: 10;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
}
nav a{
margin: auto 0px;
}
h2{
  text-align: center;
  font-size: 35px;
  margin-top: 0px;
}
h3{
  font-size: 20px;
  padding-top: 20px;
}
p{
  font-size: 15px;
  text-align: center;
  font-style: italic;
  margin: 5px auto;
}
#aSide{
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.74);
  height: 100%;
  width: 40px;
  position: fixed;
  top: 50px;
  left: 0px;
  transition: width 0.3s ;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 0px 12px rgba(124, 124, 124, 0.877));
  border-right: 1px solid rgba(170, 170, 170, 0.54);
}
#aSide:hover{
  width: 250px;
}
#aside-wrapper{
  height: 100%;
  z-index: -100;
}
#search-text{
  position: fixed;
  font-size: 30px;
  top: 10px;
  left: -150px;
  transition: left 0.25s ;
}
#search-input{
  border-style: none;
  border-radius: 5px;
  border: 1px solid rgb(190, 190, 190);
  position: fixed;
  height: 30px;
  width: 100%;
  top: 54px;
  left: -3px;
  transition: left 0.3s;
  padding-left: 10px;
}
#search-icon{
  position: fixed;
  z-index: 500;
  width: 26px;
  top: 56px;
  left: 5px;
  transition: left 0.3s;
  cursor: pointer;
  background-color: white;
}
#productGrid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  width: 90%;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  margin: 10px auto;
}
.productBox{
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 10px;
  margin: 2px;
  border: 2px solid transparent;
}
.productBox:hover {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.472);
  filter: drop-shadow(0px 0px 15px rgba(154, 154, 154, 0.9));
  border: 2px solid rgb(220, 220, 220);
} 
.productTitle{
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  margin: 10px auto 0px auto;
}
.productDescription{
  font-size: 18px;
  font-style: italic;
  text-align: center;
  margin: 5px auto;
}
.productPrice{
  font-size: 24px;
  margin: 2px auto 4px auto;
  font-weight: 900;
  text-align: center;
  font-style: normal;
}
.Fbtn, .Sbtn{
  font-size: 17px;
  font-style: normal;
  border-style: none;
  height: 40px;
  width: 80px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  background-color: rgb(40, 40, 40);
}
.Sbtn{
  background-color: rgb(130, 130, 130);
}
#InspectButtons{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-flow: row-reverse;
  gap: 10px;
  margin: 2px auto;
  grid-column: 1/3;
}
#productModal{
  display: grid;
  grid-template-rows: 8% 60% 13% 10% 10%;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  width: 35%;
  height: 75%;
  margin: 0px auto;
  padding: 5px;
  max-width: 900px;
  max-height: 800px;
  min-height: 500px;
  min-width: 500px;
  position:fixed;
  left: 0px;
  right: 0px;
  top: 100px;
  z-index: 500;
  border-radius: 15px;
  background: linear-gradient(174deg, #ffffff 0%, #b0b0b0 100%);
  border: 2px solid rgb(130, 130, 130);
  box-shadow: 10px 10px 15px 5px rgba(0,0,0,0.2);
}
#modalBackground{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 200;
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  background-color: rgba(10, 10, 10, 0.85);
}
#nftImage{
  width: 375px;
  height: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2/3;
}
#nftTitle{
  font-size: 35px;
  margin: 10px auto;
  grid-row: 1/2;
  font-weight: 900;
  text-align: center;
}
#nftDescription{
  font-size: 27px;
  margin: 10px auto;
  grid-row: 3/4;
  font-style: italic;
  text-align: center;
}
#nftPrice{
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 35px;
  margin: 2px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 8px auto;
  font-style: normal;
}
#cruz{
  position: absolute;
  top: 10px;
  right: 8px;
  height: 24px;
  cursor: pointer;
}
footer{
  z-index: 10;
  position: relative;
  display: flex;
  height: 400px;
  width: 100vw;
  justify-content: center;
  background-color: rgb(30, 30, 30);
  margin: 0 auto;
  align-content: flex-end;
  text-align: center;
  flex-direction: column;
  border-top: 20px solid rgba(45, 45, 45, 0.75);
}
#mask{
  position: fixed;
  z-index: 100;
  border: 2px solid rgba(131, 131, 131, 0.397);
  right: 10px;
  bottom: 15px;
  border-radius:40px;
  border-style: none;
  height: 50px;
  width: 60px;
  background-color: rgb(40, 40, 40);
  border: 2px solid rgb(120, 120, 120);
  color: white;
  cursor: pointer;
}
#CryptoButtons{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10px;
}
#CryptoButtons a{
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 100%;
}
#CryptoButtons:nth-child(1){
  left: 15px;
}
#CryptoButtons:nth-child(2){
  left: 75px;
}
#CryptoButtons:nth-child(3){
  left: 135px;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: rgb(185, 185, 185) ;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(100, 100, 100);
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
  background-color:rgb(85, 85, 85) ;
}

/* Media Queris */
@media (max-width: 1275px){
  #productGrid{
    width: 80%;
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 975px){
  #productGrid{
    grid-template-columns:1fr 1fr 1fr;
  }
}

@media (max-width: 775px){
  #productGrid{
    grid-template-columns:1fr 1fr;
  }
  #productModal{
    min-width: 500px;
  }
}

@media (max-width: 575px){
  #productGrid{
    grid-template-columns:1fr;
  }
  #productModal{
    min-width: 450px;
  }
}

@media (max-width: 475px){
  #productModal{
    min-width: 400px;
  }
  #nftImage{
    width: 325px;
    height: 325px;
    display: flex;
  }
  #nftTitle{
    font-size: 35px;
  }
  #nftDescription{
    font-size: 27px;
  }
  #nftPrice{
    font-size: 35px;
  }
}

@media (max-width: 400px){
  #productModal{
    height: 65%;
    min-width: 350px;
  }
  #nftImage{
    width: 325px;
    height: 325px;
    display: flex;
  }
  #nftTitle{
    font-size: 35px;
  }
  #nftDescription{
    font-size: 27px;
  }
  #nftPrice{
    font-size: 35px;
  }
}

@media (max-width: 375px){
  #productGrid{
    grid-template-columns:1fr;
  }
  #wrapper{
    width: 70vw;
    margin: 60px auto 10px auto;
    transition: filter 0.5s;
  }
  h2{
    text-align: center;
    font-size: 27px;
    margin-top: 0px;
  }
  h3{
    font-size: 16px;
    padding-top: 20px;
  }
  p{
    font-size: 14px;
    text-align: center;
    font-style: italic;
    margin: 5px auto;
  }
  #productModal{
    width: 85%;
    height: 75%;
    margin: 0px auto;
    max-width: 900px;
    left: 0px;
    right: 0px;
    top: 60px;
  }
  #nftImage{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2/3;
  }
  #nftTitle{
    font-size: 28px;
    margin: 10px auto;
    grid-row: 1/2;
    font-weight: 900;
    text-align: center;
  }
  #nftDescription{
    font-size: 22px;
    margin: 10px auto;
    font-style: italic;
    text-align: center;
  }
  #nftPrice{
    font-size: 28px;
    margin: 2px;
    grid-row: 4/5;
    font-weight: 900;
    text-align: center;
    margin-bottom: 8px auto;
    font-style: normal;
  }
}

/* images */
#isologotipo{
  background-image: url(imgs/nftorio.png);
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.image1{
  background-image: url(imgs/nfts/nft\ 1.png)
}
.image2{
  background-image: url(imgs/nfts/nft\ 2.png);
}
.image3{
  background-image: url(imgs/nfts/nft\ 3.png);
}
.image4{
  background-image: url(imgs/nfts/nft\ 4.png);
}
.image5{
  background-image: url(imgs/nfts/nft\ 5.png);
}
.image6{
  background-image: url(imgs/nfts/nft\ 6.png);
}
.image7{
  background-image: url(imgs/nfts/nft\ 7.png);
}
.image8{
  background-image: url(imgs/nfts/nft\ 8.png);
}
.image9{
  background-image: url(imgs/nfts/nft\ 9.png);
}
.image10{
  background-image: url(imgs/nfts/nft\ 10.png);
}
.image11{
  background-image: url(imgs/nfts/nft\ 11.png);
}
.image12{
  background-image: url(imgs/nfts/nft\ 12.png);
}
.image13{
  background-image: url(imgs/nfts/nft\ 13.png);
}
.image14{
  background-image: url(imgs/nfts/nft\ 14.png);
}
.image15{
  background-image: url(imgs/nfts/nft\ 15.png);
}
.image16{
  background-image: url(imgs/nfts/nft\ 16.png);
}
.image17{
  background-image: url(imgs/nfts/nft\ 17.png);
}
.image18{
  background-image: url(imgs/nfts/nft\ 18.png);
}
.image19{
  background-image: url(imgs/nfts/nft\ 19.png);
}
.image20{
  background-image: url(imgs/nfts/nft\ 20.png);
}
.image21{
  background-image: url(imgs/nfts/nft\ 21.png);
}
.image22{
  background-image: url(imgs/nfts/nft\ 22.png);
}
.image23{
  background-image: url(imgs/nfts/nft\ 23.png);
}
.image24{
  background-image: url(imgs/nfts/nft\ 24.png);
}
.image25{
  background-image: url(imgs/nfts/nft\ 25.png);
}
.image26{
  background-image: url(imgs/nfts/nft\ 26.png);
}
.image27{
  background-image: url(imgs/nfts/nft\ 27.png);
}
.image28{
  background-image: url(imgs/nfts/nft\ 28.png);
}
.image29{
  background-image: url(imgs/nfts/nft\ 29.png);
}
.image30{
  background-image: url(imgs/nfts/nft\ 30.png);
}
.image31{
  background-image: url(imgs/nfts/nft\ 31.png);
}
.image32{
  background-image: url(imgs/nfts/nft\ 32.png);
}
.image33{
  background-image: url(imgs/nfts/nft\ 33.png);
}
.image34{
  background-image: url(imgs/nfts/nft\ 34.png);
}
.image35{
  background-image: url(imgs/nfts/nft\ 35.png);
}
  
.image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8, .image9, .image10, .image11, .image12, .image13, .image14, .image15, .image16, .image17, .image18, .image19, .image20, .image21, .image22, .image23, .image24, .image25, .image26, .image27, .image28, .image29, .image30, .image31, .image32, .image33, .image34, .image35{
  display: flex;
  justify-content: center;
  margin: 3px auto;
  width: 174px;
  height: 174px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-box-shadow: 5px 5px 12px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 5px 12px 3px rgba(0,0,0,0.3);
  box-shadow: 5px 5px 12px 3px rgba(0,0,0,0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}