@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
*::selection {
  background-color: grey;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
  color: black;
}
a:hover {
  color: rgb(205, 205, 205);
}

body {
  width: 100vw;
  overflow-x: hidden !important;
  background-image: linear-gradient(to Top, rgb(200, 200, 200) 0%, white 100%);
}
.hide {
  display: none;
}
#spinnerCenter {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  user-select: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10000;
  top: 0px;
  left: 0px;
  opacity: 1;
  transition: opacity 0.4s;
}
#wrapper {
  width: 80vw;
  min-height: 30vh;
  margin: 60px auto 10px auto;
  z-index: 1;
  transition: filter 0.4s;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 54px;
  margin: 0px auto;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px rgba(30, 30, 30, 0.54);
  transition: all 0.3s;
}
#isologotipo {
  margin: auto 0px;
  background-image: url(files/imgs/nftorio.png);
  width: 135px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: 135px;
  background-position: center;
  position: absolute;
  transition: all 0.54s ease-out;
}
.isologotipoEnMedio {
  top: 100px !important;
  left: 2% !important;
  width: 80% !important;
  background-size: 80% !important;
  max-width: 600px !important;
  height: 200px !important;
}
h2 {
  text-align: center;
  font-size: 35px;
  margin-top: 0px;
}
h3 {
  font-size: 20px;
  padding-top: 20px;
}
p {
  font-size: 15px;
  text-align: center;
  font-style: italic;
  margin: 5px auto;
}
#aSide {
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.74);
  height: 100%;
  width: 40px;
  position: fixed;
  top: 50px;
  left: 0px;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 0px 12px rgba(124, 124, 124, 0.877));
  border-right: 1px solid rgba(170, 170, 170, 0.54);
}
#aSide:hover {
  width: 250px;
}
#aside-wrapper {
  height: 100%;
  z-index: -100;
}
#search-text {
  position: fixed;
  font-size: 30px;
  top: 10px;
  left: -150px;
  transition: left 0.25s;
}
#search-input {
  border-style: none;
  border-radius: 5px;
  border: 1px solid rgb(190, 190, 190);
  position: fixed;
  height: 30px;
  width: 100%;
  top: 54px;
  left: -3px;
  transition: left 0.3s;
  padding-left: 10px;
}
#search-icon {
  position: fixed;
  z-index: 500;
  width: 26px;
  top: 56px;
  left: 5px;
  transition: left 0.3s;
  cursor: pointer;
  background-color: white;
}
#magixs,
#normal {
  margin-right: 30px;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  transition: left 0.54s;
}
#magixs {
  bottom: 135px;
  left: -200px;
}
#normal {
  bottom: 185px;
  left: -200px;
}
#productGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 90%;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  margin: 10px auto;
}
.productBox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 10px;
  margin: 2px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: filter 0.15s, border 0.25s;
}
.productBox:hover {
  background-color: rgba(255, 255, 255, 0.472);
  filter: drop-shadow(0px 0px 12px rgba(154, 154, 154, 0.9));
  border: 2px solid rgb(220, 220, 220);
}

.productTitle {
  font-size: 21px;
  font-weight: 800;
  text-align: center;
  margin: 10px auto 0px auto;
  white-space: nowrap;
}
.productDescription {
  text-align: center;
  width: 90%;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  margin: 5px auto;
  display: flex;
  justify-content: center;
}
.productPrice {
  font-size: 24px;
  margin: 2px auto 4px auto;
  font-weight: 900;
  text-align: center;
  font-style: normal;
}
.productImage {
  display: flex;
  justify-content: center;
  margin: 3px auto;
  width: 174px;
  height: 174px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 5px 5px 12px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: width 0.3s, height 0.3s;
  filter: saturate(1.05);
}
.Fbtn,
.Sbtn {
  font-size: 18px;
  font-style: normal;
  border-style: none;
  height: 40px;
  width: 80px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: border 0.1s;
  filter: drop-shadow(2px 2px 3px rgba(54, 54, 54, 0.54));
}
.Fbtn {
  background-color: rgb(45, 45, 45);
  border-right: 3px solid rgb(25, 25, 25);
  border-bottom: 3px solid rgb(25, 25, 25);
}
.Sbtn {
  background-color: rgb(130, 130, 130);
  border-right: 3px solid rgb(74, 74, 74);
  border-bottom: 3px solid rgb(74, 74, 74);
}
.Fbtn:active {
  border-right: 1px solid rgb(25, 25, 25);
  border-bottom: 1px solid rgb(25, 25, 25);
  border-left: 3px solid rgb(25, 25, 25);
  border-top: 3px solid rgb(25, 25, 25);
}
.Sbtn:active {
  border-right: 1px solid rgb(35, 35, 35);
  border-bottom: 1px solid rgb(35, 35, 35);
  border-left: 3px solid rgb(54, 54, 54);
  border-top: 3px solid rgb(54, 54, 54);
}

#InspectButtons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  gap: 10px;
  margin: 2px auto;
  grid-column: 1/3;
}
#productModal {
  display: grid;
  grid-template-rows: 10% 60% 15% 15%;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  width: 35%;
  height: 75%;
  margin: 0px auto;
  padding: 5px;
  max-width: 900px;
  min-width: 500px;
  max-height: 800px;
  min-height: 500px;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 4em;
  z-index: 500;
  opacity: 0;
  transition: opacity 0.4s;
  border-radius: 15px;
  background: linear-gradient(174deg, #ffffff 0%, #848484 100%);
  border: 2px solid rgb(130, 130, 130);
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.6);
}
#modalBackground {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 200;
  width: 200vw;
  height: 200vh;
  margin: 0px auto;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: rgba(10, 10, 10, 0.85);
}
#nftImage {
  width: 375px;
  height: 375px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2/3;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 5px 5px 12px 3px rgba(0, 0, 0, 0.3);
  filter: saturate(1.05);
}
#nftTitle {
  font-size: 35px;
  margin: 10px auto;
  grid-row: 1/2;
  font-weight: 900;
  text-align: center;
}
#nftDescription {
  font-size: 27px;
  margin: 10px auto;
  grid-row: 3/4;
  font-style: italic;
  text-align: center;
}
#nftPrice {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 54px;
  margin: 2px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 8px auto;
  font-style: normal;
}
#cruz {
  position: absolute;
  top: 10px;
  right: 8px;
  height: 24px;
  cursor: pointer;
}
#mask {
  position: fixed;
  z-index: 100;
  border: 2px solid rgba(131, 131, 131, 0.397);
  right: 15px;
  bottom: 90px;
  border-radius: 40px;
  border-style: none;
  height: 50px;
  width: 54px;
  background-color: rgb(40, 40, 40);
  border: 2px solid rgb(120, 120, 120);
  color: white;
  cursor: pointer;
}
#CryptoButtons {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10px;
}
#CryptoButtons a {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
}
#CryptoButtons:nth-child(1) {
  left: 15px;
}
#CryptoButtons:nth-child(2) {
  left: 75px;
}
#CryptoButtons:nth-child(3) {
  left: 135px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgb(185, 185, 185);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 100);
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(85, 85, 85);
}
.none {
  background-attachment: fixed;
}

/* music gridz */
#musicGrid{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  column-gap: 10px;
  row-gap: 10px;
  margin: 0px auto;
}
.trackBox{
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 27% 33% 20% 20% ;
  max-width: 800px;
  min-width: 600px;
  max-height: 222px;
  padding: 20px;
  margin: 2px auto;
  border: 2px solid transparent;
  border-radius: 20px;
  transition: filter 0.15s, border 0.25s;
}
.trackBox:hover{
  background-color: rgba(255, 255, 255, 0.472);
  filter: drop-shadow(0px 0px 12px rgba(154, 154, 154, 0.9));
  border: 2px solid rgb(220, 220, 220);
}
.trackImage{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  margin: 3px auto;
  width: 174px;
  height: 174px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 5px 5px 12px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: width 0.3s, height 0.3s;
  filter: saturate(1.05);
}
.trackTitle{
  grid-column: 2/3;
  font-size: 28px;
  font-weight: 800;
  margin: 10px auto 0px auto;
  white-space: nowrap;
}
.trackDescription{
  grid-column: 2/3;
  width: 90%;
  font-size: 18px;
  font-style: italic;
  margin: 5px auto;
}
.trackPrice{
  grid-column: 2/3;
  font-size: 28px;
  margin: 2px auto 4px auto;
  font-weight: 900;
  font-style: normal;
  display: flex;
  justify-content: left;
  align-items: left;
}
.SCbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  grid-column: 2/3;
  grid-row: 4/5;
  font-weight: 900;
  color: black;
  font-size: 16px;
  border-style: none;
  background-color: #ff7c1e;
  border: 1px solid rgb(214, 88, 10);
  box-shadow: #fb6a03 2px 2px 4px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 200px;
}
.detailsBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  grid-column: 2/3;
  grid-row: 4/5;
  font-weight: 900;
  color: white;
  font-size: 16px;
  border-style: none;
  background-color: #2d2d2d;
  box-shadow: #484848 2px 2px 4px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 40px;
}
.playBtn{
  border-style: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  width: 70px;
  opacity: 0.54;
}

/* pleyieerr */
#reproductor-container{
  display: flex;
  width: 100vw;
  height: 82px;
  margin: 0px auto;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 200;
  padding: 5px 10px;
  background-image: linear-gradient(to top, rgb(191, 191, 191) 0%, white 100%);
  border-top: 1px solid rgb(191, 191, 191);
  box-shadow: 54px 0px 54px rgb(0 0 0 / 24%);
  user-select: none;
  transition: all 0.3s;
}
/* #reproductor-container:hover{
  height: 120px;
} */
#reproductor {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1285px;
  margin: 0px auto;
}
#songPic {
  display: flex;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 2px;
  left: -4px;
  border-radius: 10px;
}
#controls {
  position: absolute;
  width: 100px;
  height: 50%;
  top: 20px;
  right: 41%;
  transform: scale(1.4) translate(-50%, -50%);
}
#playpause {
  position: absolute;
  width: 30px;
  margin: 0px auto;
  top: 10px;
  right: 35px;
  background-color: white;
  border-radius: 100px;
  cursor: pointer;
}
#last,
#next {
  position: absolute;
  top: 5px;
  transform: rotate(0deg) scale(0.6);
  cursor: pointer;
}
#next {
  right: 3px;
}
#last {
  right: 57px;
  transform: rotate(180deg) scale(0.6);
}
#volumeRange {
  position: absolute;
  width: 80px;
  bottom: 30px;
  right: -50px;
  transform: rotate(270deg) scale(0.9);
}
#songName {
  font-size: 18px;
  font-weight: 900;
  position: absolute;
  top: 4px;
  left: 72px;
  word-wrap: break-word;
}
#songCurrentTime,
#songTime {
  transform: translate(-50%, -50%);
}
#songCurrentTime {
  position: absolute;
  left: 94px;
  top: 38px;
}
#songTime {
  position: absolute;
  left: 154px;
  top: 38px;
}
#separator {
  position: absolute;
  top: 23px;
  left: 120px;
  color: black;
}
#progressBar {
  width: 94%;
  position: absolute;
  left: 70px;
  bottom: 2px;
  margin: 0px auto;
}

/* footer finally */
footer {
  display: flex;
  position: relative;
  align-content: flex-end;
  text-align: center;
  flex-direction: column;
  z-index: 10;
  height: 600px;
  width: 100vw;
  background-color: rgb(30, 30, 30);
  margin: 0 auto;
  color: white;
  border-top: 25px solid rgba(45, 45, 45, 0.75);
}
#footerContainer{
  width: 74%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
.webDescription{
  background-color: #323232;
  width: 100vw;
  height: 100px;
}
.webDescription #isologotipo{
  transform: translate(-50%, -50%);
  top: 25px;
  left: 50%;
  filter: invert(1);
}
.webDescription h4{
  position: relative;
  top: 50px;
}
.socialMedia{
  display: none;
}
.socialMediaTexts{

}
.footerEmailInputs{

}
.mediaIcons{

}
.iconGroup{

}
.icon{

}
.boringThings{

}
#separatorBar{
  border: 2px solid white;
  width: 80%;
  height: 2px;
}

/* Media Queris */
@media (max-width: 1275px) {
  #productGrid {
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #reproductor {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 90%;
  }
  #volumeRange {
    position: absolute;
    width: 80px;
    bottom: 30px;
    right: -30px;
    transform: rotate(270deg) scale(0.9);
  }
  #progressBar{
    width: 90%;
  }
}

@media (max-width: 975px) {
  #productGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #productModal {
    min-width: 54%;
  }
  #nftImage {
    width: 325px;
    height: 325px;
  }
  #nftTitle,
  #nftPrice {
    font-size: 28px;
  }
  #nftDescription {
    font-size: 22px;
  }

  #reproductor {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0px auto;
  }
  #controls {
    width: 100px;
    height: 50%;
    top: 20px;
    right: -50px;
    transform: scale(1.2) translate(-50%, -50%);
  }
  #playpause {
    width: 30px;
    top: 10px;
    right: 70px;
    transform: scale(1);
  }
  #next {
    right: 40px;
    transform: rotate(0deg) scale(0.54);
  }
  #last {
    right: 90px;
    transform: rotate(180deg) scale(0.54);
  }
  #volumeRange {
    width: 80px;
    bottom: 30px;
    right: -45px;
    transform: rotate(270deg) scale(0.8);
  }
  #progressBar {
    width: 90%;
    left: 70px;
    bottom:4px;
  }
}

@media (max-width: 775px) {
  #productGrid {
    grid-template-columns: 1fr 1fr;
  }
  #productModal {
    min-width: 90%;
  }
  .isologotipoEnMedio {
    top: 100px !important;
    left: -25px !important;
    width: 80% !important;
    background-size: 80% !important;
    max-width: 450px !important;
    height: 175px !important;
  }

  #progressBar {
    width: 87%;
    left: 70px;
    bottom: 2px;
  }
}

@media (max-width: 575px) {
  #productGrid {
    grid-template-columns: 1fr;
  }
  #productModal {
    min-width: 90%;
  }
  #progressBar {
    width: 72%;
    left: 70px;
    bottom: 2px;
  }
}

@media (max-width: 475px) {
  #productModal {
    min-width: 90%;
  }
  #nftImage {
    width: 325px;
    height: 325px;
    display: flex;
  }
  #nftTitle {
    font-size: 35px;
  }
  #nftDescription {
    font-size: 27px;
  }
  #nftPrice {
    font-size: 35px;
  }
}

@media (max-width: 400px) {
  #wrapper {
    width: 70vw;
  }
  #productModal {
    min-width: 90%;
    top: 3.5em;
  }
  #nftImage {
    width: 325px;
    height: 325px;
    display: flex;
  }
  #nftTitle {
    font-size: 35px;
  }
  #nftDescription {
    font-size: 27px;
  }
  #nftPrice {
    font-size: 35px;
  }

  #controls {
    width: 100px;
    height: 50%;
    top: 30px;
    right: -64px;
    transform: scale(1.4) translate(-50%, -50%);
  }
}

@media (max-width: 375px) {
  #productGrid {
    grid-template-columns: 1fr;
  }
  h2 {
    text-align: center;
    font-size: 27px;
    margin-top: 0px;
  }
  h3 {
    font-size: 16px;
    padding-top: 20px;
  }
  p {
    font-size: 14px;
    text-align: center;
    font-style: italic;
    margin: 5px auto;
  }
  #nftImage {
    width: 275px;
    height: 275px;
  }
  #controls {
    width: 100px;
    height: 50%;
    top: 20px;
    right: -100px;
    transform: scale(1.2) translate(-50%, -50%);
  }
}

@media (max-width: 325px) {
  #productGrid {
    grid-template-columns: 1fr;
  }
  #productModal {
    min-width: 94%;
  }

}

@media (max-width: 300px) {
  #productGrid {
    grid-template-columns: 1fr;
  }
  #nftImage {
    width: 250px;
    height: 250px;
  }
}

@media (max-height: 675px) {
  #nftImage {
    width: 250px;
    height: 250px;
  }
  #productModal {
    min-width: 85%;
  }
}
